body {
  background-color: rgb(198, 198, 202);
}
header {
  text-align: center;
}
#grid {
  display: block;
  border: 3px solid rgb(71, 70, 70);
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}
#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  align-content: center;
  border: 3px solid rgb(71, 70, 70);
  margin-left: auto;
  margin-right: auto;
}
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(112, 108, 108);
  border: 3px solid rgb(77, 75, 75);
}
.scoreboardText {
  font-size: 1.7em;
}
#smileyFace {
  cursor: pointer;
}
.row {
  margin: 0;
  padding: 0;
}
.box {
  box-sizing: border-box;
  border: 3px outset rgb(112, 108, 108);
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.covered {
  background-color: rgb(112, 108, 108);
}
.uncovered {
  background-color: rgb(184, 181, 181);
  border: 1px solid black;
}
.red {
  color: red;
  text-shadow: 2px 2px black;
}
h4 {
  text-align: center;
}
#gameOptions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* max-width: 50%; */
  margin: 0 auto;
}
.gameWidth, .gameHeight, .gameMines {
  margin: 5px;
}
#userGame, #howToPlay {
  font-size: .9rem;
  border-radius: 5px;
}
.howTo {
  text-align: center;
  margin: 3% 0;
}
#instructions {
  width: 90%;
  margin: 0 auto 3% auto;
  padding: 2%;
  background-color: rgb(255, 255, 255, .7);
}