#scoresContainer {
  background-color: rgb(2, 2, 2);
  width: 300px;
  height: calc(100vh - 54px);
  color: rgb(190, 190, 190);
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  margin-top: 54px;
  display: flex;
  flex-direction: row;
}
#scoresContainer h4, #scoresContainer p {
  text-align: center;
  color: rgb(0, 193, 252);
}
.scoreListItem {
  list-style: decimal;
  word-wrap: break-word;
}
.alignRight {
  float: right;
}
.moreScores, .lessScores {
  cursor: pointer;
}
#leaderboard, #userScores {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}
#leaderboard ul, #userScores ul {
  padding: 0 5px 0 25px;
}
#leaderboard {
  padding-left: 2px;
}

#gameContainer {
  margin-left: 150px;
}
h1 {
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 2.7rem;
  background: linear-gradient(to right, rgb(31, 201, 88), rgb(0, 193, 252));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
h4 {
  color: rgb(194, 194, 194);
  font-size: 1.5rem;
  font-weight: 300;
}

/* game style */
#grid {
  display: block;
  border: 3px solid rgb(71, 70, 70);
  margin-left: auto;
  margin-right: auto;
  cursor: default;
}
#scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  justify-content: center;
  align-content: center;
  border: 3px solid rgb(71, 70, 70);
  margin-left: auto;
  margin-right: auto;
}
.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border: 3px solid rgb(77, 75, 75);
}
.scoreboardText {
  font-size: 1.7em;
}
#minesRemaining, #timer {
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: rgb(192, 0, 0);
}
#smileyFace {
  cursor: pointer;
}
.row {
  margin: 0;
  padding: 0;
}
.box {
  box-sizing: border-box;
  border: 3px outset rgb(112, 108, 108);
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.covered {
  background-color: rgb(112, 108, 108);
}
.uncovered {
  background-color: rgb(184, 181, 181);
  border: 1px solid black;
}
.redFlag {
  color: red;
  text-shadow: 2px 2px black;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.red {
  color: red;
}
.purple {
  color: purple;
}
.maroon {
  color: maroon;
}
.turquoise {
  color: turquoise;
}
.black {
  color: black;
}
.gray {
  color: gray;
}
h4 {
  text-align: center;
}
#presetGameLevels {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: center;
  margin: 1rem auto 0;
  color: rgb(190, 190, 190);
}
#gameContainer > h4:nth-child(5) {
  margin-bottom: .75rem;
  }
#gameOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 75%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
#customGameLevels > h4:nth-child(1) {
  margin-bottom: .8rem;
  }
.gameWidth, .gameHeight, .gameMines {
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
}
label {
  color: rgb(190, 190, 190);
  font-size: 1.2rem;
  margin-right: 5px;
}
select {
  font-size: 1rem;
}
.reset {
  display: flex;
  width: auto;
  margin: .75rem auto 1rem;
  justify-content: center;
}
#userGame { 
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0 .7rem;
  color: black;
  transition: .3s;
  background-color: rgb(0, 193, 252);
  border: 1px solid rgb(0, 193, 252);
}
#userGame:hover, #userGame:focus {
  cursor: pointer;
  background-color: rgb(31, 201, 88);
  border: 1px solid rgb(31, 201, 88);
}
#scoresNote {
  color: rgb(190, 190, 190);
  font-size: .75rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

#instructions {
  width: 90%;
  margin: 0 auto 3% auto;
  padding: 2%;
  background-color: rgb(255, 255, 255, .7);
  position: relative;
}
#closeInstructions {
  position: absolute;
  top: 8px;
  right: 18px;
  cursor: pointer;
  font-size: 2rem;
}

@media only screen and (max-width: 1100px) {
  #scoresContainer {
    width: 95%;
    height: auto;
    position: unset;
    top: unset;
    left: unset;
    overflow-x: unset;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  #scoresContainer h4, #scoresContainer p {
    text-align: center;
    color: rgb(0, 193, 252);
  }
  .scores {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 auto;
    justify-content: center;
  }
  .scoresDiv {
    width: 150px;
    margin: 0 .5rem;
  }
  #leaderboard, #userScores {
    max-width: unset;
    width: 100%;
    padding: 0 .75rem;
  }
  #leaderboard h4, #userScores h4 {
    margin: 1rem auto auto;
  }
  #gameContainer {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 600px) {
  #game {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  #game, #scoresContainer {
    overflow-y: scroll;
  }
}