<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Minesweeper</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="../public/style/game.css">
  <link rel="stylesheet" href="../public/style/navAndBody.css">
  <link rel="stylesheet" href="../public//style/forms.css">
</head>
<body>
  <nav class="nav">
    <div id="userNavDropDown">
      <button id="welcome"><span></span><i id="navChevron" class="fas fa-chevron-down"></i></button>
      <div id="userNavLinks" style="display: none;">
        <a href="/accounts" class="navLink">Account<hr></a>
        <a href="javascript:void(0)"id="navLogout" class="navLink">Log Out<hr></a>
      </div>
    </div>
    <button class="navButton"> 
      <a href="javascript:void(0)" id="navLogin" class="navLink">Log In<hr></a>
    </button>
    <button class="navButton"> 
      <a href="/accounts" id="navCreateAccount" class="navLink">Create An Account<hr></a>
    </button>
    <button class="navButton"> 
      <a href="#instructions" id="howToPlay" class="navLink">Show Instructions<hr></a>
    </button>
    <a href="javascript:void(0);" id="navHamburger" class="navLink">&#9776;</a>
  </nav>
  <div id="gameContainer">
    <h1>Minesweeper</h1>
    <div id="game">
      <div id="scoreboard">
        <div class="scoreboard">
          <div id="minesRemaining" class="scoreboardText">0</div>
        </div>
        <div class="scoreboard">
          <div id="smileyFace" class="scoreboardText">😀</div>
        </div>
        <div class="scoreboard">
          <div id="timer" class="scoreboardText">0</div>
        </div>
      </div>
      <div id="grid" oncontextmenu="return false;"></div>
    </div>
    <div id="presetGameLevels">
      <label for="presetGameLevels">Game Level: </label>
      <select name="presetGameLevels" id="gameLevels">
        <option value="beginner">Beginner</option>
        <option value="intermediate" selected>Intermediate</option>
        <option value="expert">Expert</option>
        <option value="custom">Custom</option>
      </select>
    </div>
    <div id="customGameLevels" style="display: none;">
    <h4>Create your own game board!</h4>
    <div id="gameOptions">
      <div class="gameWidth">
        <label for="width">Width:</label>
        <select name="width" id="selectGameWidth">
          <option value="10">10</option>
          <option value="12">12</option>
          <option value="15" selected>15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="gameHeight">
        <label for="height"> Height:</label>
        <select name="height" id="selectGameHeight">
          <option value="10">10</option>
          <option value="12">12</option>
          <option value="15" selected>15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
        </select>
      </div>
      <div class="gameMines">
        <label for="mines"> Mines:</label>
        <select name="mines" id="selectGameMines">
          <!-- change first option back to 10 after testing -->
          <option value="5">5</option>
          <option value="12">12</option>
          <option value="15" selected>15</option>
          <option value="20">20</option>
          <option value="25">25</option>
          <option value="30">30</option>
          <option value="35">35</option>
          <option value="45">45</option>
          <option value="60">60</option>
          <option value="75">75</option>
          <option value="99">99</option>
        </select>
      </div>
      <div class="reset">
        <button id="userGame">Customize</button>
      </div>
    </div>
   
    <p id="scoresNote">*Scores for custom game levels are not saved to your account.</p>
    </div>
    <div id="scoresContainer">
      <div id="leaderboard">
        <h4>Leaderboard</h4>
        <div class="scores">
          <div class="scoresDiv">
            <p>Beginner</p>
            <ul id="leaderBeginner"></ul>
          </div>
          <div class="scoresDiv">
            <p>Intermediate</p>
            <ul id="leaderIntermediate"></ul>
          </div>
          <div class="scoresDiv">
            <p>Expert</p>
            <ul id="leaderExpert"></ul>
          </div>
        </div>
      </div>
      <div id="userScores">
        <h4>Your Best Times</h4>
        <div class="scores">
          <div class="scoresDiv">
            <p>Beginner</p>
            <ul id="userBeginner"></ul>
          </div>
          <div class="scoresDiv">
            <p>Intermediate</p>
            <ul id="userIntermediate"></ul>
          </div>
          <div class="scoresDiv">
            <p>Expert</p>
            <ul id="userExpert"></ul>
          </div>
        </div>        
      </div>
    </div>
    <div id="instructions" style="display: none;"> 
      <div id="closeInstructions">&times</div>
      <h3>Instructions </h3>
      <p>
        You are presented with a board of squares.  Some squares contain mines (bombs), others don't.  If you click on a square containing a mine, you lose.  You win by "clearing" all the squares that do not contain a mine.
      </p>
      <p>
        Left clicking a square that doesn't have a mine "clears" the square and reveals the number of adjacent squares&#42 containing mines.  If the square has no adjacent mines, that square will be blank and all blank squares radiating outward will be cleared until a square with an adjacent mine is revealed.  Use this information, to avoid the mines.
      </p>
      <p>
        You can flag squares you think are mines.  To flag a square you think is a mine, right click on it.  To remove the flag right click the square again.  If you flag a mine incorrectly, you will have to remove the flag and clear the square before you can win.   You don't have to flag all the mines to win.  The flags are just a tool to help you remember where you think there is a mine.   To win you still need to clear all squares without mines.
      </p>
      <p>
        The first clicked square is never a mine.
      </p>
      <p>
        After you win or lose a game, click the yellow emoji face to start a new game. 
      </p>
      <p>
        &#42Adjacent squares are those squares directly above, below, left, right, and at each corner of the clicked square.
      </p>
      <h3>Scoreboard Information</h3>
      <p>
        At the start of the game, the upper left corner indicates the number of hidden mines.  When you flag a square this number decreases by one (and increases by one if a flag is removed).  You cannot flag more squares than the number of mines on the board.
      </p>
      <p>
        The upper right corner is a timer in seconds.  Try to clear the mines as fast as possible.  If the timer reaches 999 the game ends.
      </p>
      <h3>Create  Your Own Game Board</h3>
      <p>
        Select the number of squares you want for the width and height, and the number of mines to hide.  Then click the Reset button.  Your choices determines the difficulty of clearing the board.
      </p>
    </div>
    <footer>
      <a href="/legal" class="legalLink">Privacy Policy & Terms of Use</a>
    </footer>
  </div>
  

  <!-- login modal -->
  <div id="loginModal">
    <div class="modalContent">
      <div class="modalHeader">
        <h3>Log in to save your best scores and get on the Leaderboard!</h3>
      </div>
      <form id="loginForm">
        <input type="text" name="username" placeholder="Username" required/>
        <input type="password" name="password" placeholder="Password" required/>
        <input type="submit" value="Log In"/>
      </form>
      <a id="forgotPasswordLink" href="/accounts#forgotPasswordContainer">Forgot Password?</a>
      <div>
        <button id="createAccount"><a href="/accounts">Create A New Account</a></button>
      </div>
      <div>
        <button id="noAccount">Play Without An Account</button>
      </div>
    </div>
  </div>

  <script src="../public/game.js"></script>
  <script src="../public/login.js"></script>
</body>
</html>