<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Minesweeper - Privacy Policy & Terms of Use</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <link rel="stylesheet" href="../public/style/navAndBody.css">
  <link rel="stylesheet" href="../public/style/legal.css">
</head>
<body>
  <nav class="nav">
    <button class="navButton">
      <a href="/" class="navLink">Home<hr></a>
    </button>
    <button class="navButton">
      <a href="javascript:void(0)" class="navLink" id="backButton">Back<hr></a>
    </button>
  </nav>
  <h1>Minesweeper</h1>
  <div id="termsAndPrivacyPolicy">
    <div id="privacyPolicy">
      <h2>Privacy Policy</h2>
      <ul>
        <li>Introduction</li>
        <p>
          This privacy policy ("Policy") describes how the Website Operator ("Operator", "we", "us" or "our") collects, protects and uses the personally identifiable information ("Personal Information") you ("User", "you" or "your") may provide on the Website and any of its products or services (collectively, "Website" or "Services").
        </p>
        <p>
          It also describes the choices available to you regarding our use of your Personal Information and how you can access and update this information. This Policy does not apply to the practices of companies that we do not own or control, or to individuals that we do not employ or manage.
        </p>
        <li>Collection of Personal Information</li>
        <p>
          You can visit the Website without telling us who you are or revealing any information by which someone could identify you as a specific, identifiable individual. If, however, you wish to use some of the Website's features, you may be asked to provide certain Personal Information (for example your email address). We receive and store any information you knowingly, and volutarily, provide to us when you create an account, or fill any online forms on the Website. 
        </p>
        <p>
          You can choose not to provide us with your Personal Information, but then you may not be able to take advantage of some of the Website's features. 
        </p>
        <li>Use of Collected Information</li>
        <p>
          The only Personal Information we collect from you is your voluntary submission of your email address.
        </p>
        <p>
          The only use of your email address is to provide you with a better user expierience related to your Account.
        </p>
        <li>Managing Information</li>
        <p>
          You are able to edit or delete your email address at anytime, or delete your entire Account at anytime by logging into your Account and visiting the Account section.
        </p>
        <li>Disclosure of Information</li>
        <p>
          We do not share Personal Information with unaffiliated third parties. These service providers are not authorized to use or disclose your information except as necessary to perform services on our behalf or comply with legal requirements.  These third parties are given Personal Information they need only in order to perform their designated functions, and we do not authorize them to use or disclose Personal Information for their own marketing or other purposes.
        </p>
        <p>
          We will disclose any Personal Information we collect, use or receive if required or permitted by law, such as to comply with a subpoena, or similar legal process, and when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.
        </p>
        <li>Retention of Information</li>
        <p>Your Personal Information is not retained by us after you delete it.</p>
        <li>Privacy of Children</li>
        <p>
          We do not knowingly collect any Personal Information from children under the age of 13. If you are under the age of 13, please do not submit any Personal Information through our Website or Service. We encourage parents and legal guardians to monitor their children's Internet usage and to help enforce this Policy by instructing their children never to provide Personal Information through our Website or Service without their permission. 
        </p>
        <li>Cookies</li>
        <p>
          The Website uses "cookies" to help personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.
        </p>
        <p>
          We may use cookies to operate our Website and Services and enhance your user experience. You have the ability to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the features of the Website and Services. To learn more about cookies and how to manage them, visit <a href="http://www.internetcookies.org" target="_blank" rel="noopener noreferrer">internetcookies.org</a>.
        </p>
        <li>Information Security</li>
        <p>
          We secure information you provide on computer servers in a controlled, secure environment, protected from unauthorized access, use, or disclosure. We maintain reasonable administrative, technical, and physical safeguards in an effort to protect against unauthorized access, use, modification, and disclosure of Personal Information in its control and custody. However, no data transmission over the Internet or wireless network can be guaranteed. Therefore, while we strive to protect your Personal Information, you acknowledge that (i) there are security and privacy limitations of the Internet which are beyond our control; (ii) the security, integrity, and privacy of any and all information and data exchanged between you and our Website cannot be guaranteed; and (iii) any such information and data may be viewed or tampered with in transit by a third party, despite best efforts.
        </p>
        <li>Data Breach</li>
        <p>
          In the event we become aware that the security of the Website has been compromised or users Personal Information has been disclosed to unrelated third parties as a result of external activity, including, but not limited to, security attacks or fraud, we reserve the right to take reasonably appropriate measures, including, but not limited to, investigation and reporting, as well as notification to and cooperation with law enforcement authorities. In the event of a data breach, we will make reasonable efforts to notify affected individuals if we believe that there is a reasonable risk of harm to the user as a result of the breach or if notice is otherwise required by law. When we do, we will send you an email.
        </p>
        <li>Changes and Amendments</li>
        <p>
          We may update this Privacy Policy from time to time in our discretion.  Any updated version of this Privacy Policy will be effective immediately upon the posting of the revised Privacy Policy unless otherwise specified. Your continued use of the Website or Services after the effective date of the revised Privacy Policy (or such other act specified at that time) will constitute your consent to those changes. You are expected to review the Privacy Policy on a regular basis to ensure you understand all of terms.  If at any time you disagree with the Privacy Policy you may discontinue use of the Website and/or delete your Account.
        </p>
        <li>Acceptance of This Policy</li>
        <p>
          You acknowledge that you have read this Policy and agree to all its terms and conditions. By using the Website or its Services you agree to be bound by this Policy. If you do not agree to abide by the terms of this Policy, you are not authorized to use or access the Website and its Services.
        </p>
      </ul>
    </div>
    <div id="termsOfUse">
      <h2>Terms of Use</h2>
      <ul>
        <li>Introduction</li>
        <p>
          These Terms of Use ("Terms") contained herein on this webpage, shall govern your use of this website, including all pages within this website (collectively referred to herein below as this “Website”). These Terms apply in full force and effect to your use of this Website and by using this Website, you expressly accept all terms of use contained herein in full. You must not use this Website, if you have any objection to any of these Terms.
        </p>
        <p>
          "Owner" refers to the owner of this Website.
        </p>
        <p>
          “Agreement” refers, collectively, to all the terms, conditions, notices contained or referenced in this document and all other operating rules, policies (including the <a href="#privacyPolicy">Privacy Policy</a>) and procedures that the Owner may publish from time to time on the Website. 
        </p>
        <li>Intellectual Property Rights</li>
        <p>
          The Owner and/or its licensors own all rights to the intellectual property and material contained in this Website, and all such rights are reserved. You are granted a limited license only, subject to the restrictions provided in these Terms, for purposes of viewing the material contained on this Website.
        </p>
        <li>Restrictions</li>
        <p>
          You are expressly and emphatically restricted from all of the following: 
        </p>
        <ul>
          <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
          <li>using this Website in any way that is, or may be, damaging to this Website;</li>
          <li>using this Website in any way that impacts user access to this Website;</li>
          <li>using this Website contrary to applicable laws and regulations, or in a way that causes, or may cause, harm to the Website, or to any person or business entity;</li>
          <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website, or while using this Website;</li>
          <li>using this Website to engage in any advertising or marketing;</li>
        </ul>
        <p></p>
        <li>Your Account</li>
        <p>
          An "Account" represents an individual user's authorization to log in and use additional features of the Website.
        </p>
        <p style="font-weight: bolder;">You must be 13 years of age or older to create an Account.  If you are under 13 years of age do not create an Account.</p>
        <p>
          A username and password is required for creating an Account.  
        </p>
        <p>
          An email address is optional.  If you provide an email address, in the event you forget your password, a new password can be sent to the email address associated with your Account to regain access to your Account.  If there is no email address associated with your Account there will be no way to regain access to your Account if you forget your password.  You can add an email address or change your email address after you initially create your Account.
        </p>
        <p>
          <span style="font-weight: bolder;">Be aware: </span>You can delete your Account at anytime.  However, in order to delete your Account, for security and confirmation reasons, you must enter your password.  If you have forgotten your password and do not have a valid email address associated with your account you will not be able to delete your account.
        </p>
        <p>
          You are responsible for maintaining the security of your Account, username, and password.  The Owner cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.
        </p>
        <li>Disclaimer of Warranties</li>
        <p>
          The Owner provides the Website “as is”, with all faults, and “as available,” without warranty of any kind. Without limiting this, the Owner expressly disclaim all warranties, whether express, implied or statutory, regarding the Website including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.
        </p>
        <p>
          The Owner does not warrant that the Website will be uninterrupted, timely, secure, or error-free; that any defects or errors will be corrected; or that the Website will be available at any particular time or location. You assume full responsibility and risk of loss resulting from your use of the Website. 
        </p>
        <li>Limitation of Liability</li>
        <p>
          You understand and agree that the Owner will not be liable to you or any third party for any loss of profits, use, goodwill, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from
        </p>
        <ul>
          <li>your use or inability to use the Website;</li>
          <li>the Website generally or the software or systems that make the Website available;</li>
          <li>the use, disclosure, or display of your User-Generated Content;</li>
          <li>unauthorized access to or alterations of your transmissions or data;</li>
          <li>statements or conduct of any third party on the Website;</li>
          <li>any other user interactions that you input or receive through your use of the Website; or</li>
          <li>any other matter relating to the use, or no use, of the Website.</li>
        </ul>
        <p>
          The Owner's liability is limited whether or not the Owner has been informed of the possibility of such damages. The Owner will have no liability for any failure or delay due to matters beyond the Owner's reasonable control.
        </p>
        <li>Release and Indemnification</li>
        <p>
          If you have a dispute with one or more users of the Website, you agree to release the Owner from any and all claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes.
        </p>
        <p>
          You agree to indemnify the Owner, defend the Owner, and hold the Owner harmless from and against any and all claims, liabilities, and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.
        </p>
        <li>Changes to These Terms</li>
        <p>
          The Owner reserves the right, at its sole discretion, to amend these Terms
          at any time and will update these Terms of Service in the event of any such amendments.  You are expected to review such Terms on a regular basis to ensure you understand all of terms governing use of this Website.  Your continued use of the Website constitutes agreement to our revisions of these Terms of Service.  If at any time you disagree with the Terms you may discontinue use of the Website and/or delete your Account.
        </p>
        <p>
          The Owner reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Website (or any part of it) with or without notice.
        </p>
        <li>Assignment</li>
        <p>
          The Owner shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification or consent required. However, you shall not be permitted to assign, transfer, or subcontract any of your rights and/or obligations under these Terms. 
        </p>
        <li>Entire Agreement</li>
        <p>
          The Agreement constitutes the entire agreement between the Owner and you in relation to your use of the Website, and supersedes all prior agreements and understandings with respect to the same. 
        </p>
        <li>Severability, No Waiver, and Survival</li>
        <p>
          If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed to reflect the parties’ original intent. The remaining portions will remain in full force and effect. Any failure on the part of the Owner to enforce any provision of this Agreement will not be considered a waiver of the Owner's right to enforce such provision. The Owner's rights under this Agreement will survive any termination of this Agreement.
        </p>
        <li>Governing Law</li>
        <p>
          Except to the extent applicable law provides otherwise, this Agreement between you and the Owner and any access to or use of the Website are governed by the federal laws of the United States of America and the laws of the State of Minnesota, without regard to conflict of law provisions.  You and the Owner agree to submit to the exclusive jurisdiction and venue of the courts located in the State of Minnesota for the resolution of any disputes.
        </p>
      </ul>
    </div>
  </div>
  <button id="backToTop"><i class="fas fa-angle-double-up"></i></button>

  <script src="../public/legal.js"></script>
</body>
</html>